@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0a4893;
  --secondary-color: #F7C948;
  --accent1-color: #E5E7EB;
  --accent2-color: grey;

  /* change the values below to your chosen font(s) */
  --heading-font: "Saira";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: var(--accent1-color); 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0;
  font-size: 18px;
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}
h2 {
  text-align: center;
}


nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  padding-right: 10px;
}
nav {
  list-style-type: none;
  display: flex;
  justify-content: end;
}
nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.logo-img {
    width: 90px;
    margin-right: auto;
}

.hero-img {
  width: 100%;
  object-fit: cover;
  min-height: 500px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hero-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  text-align: center;
  font-size: 100px;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  text-align: center;
  font-size: 60px;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  
  padding: 10px 10px 10px 10px;
  margin-top: 20px;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content {
    display: flex;
}

.tall-sub {
    max-width: 500px;
    border-radius: 25px;
}

hr {
    height: 5px;
    width: 100%;
    background-color: var(--accent2-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

.rules {
  display: flex;
  flex-flow: column;
}

.rules p {
  color: var(--accent1-color);
  margin: 30px;
}

.playnow {
  font-size: 3em;
  text-align: center;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--primary-color);
  max-width: 500px;
  align-self: center;
  padding: 10px;

  border-radius: 10px;
}

.playnow:hover {
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

/* ----------------------------------------------------------- */
/* Page 2 starts here */

.image-container {
  display: flex;
  width: 1200px;
  height: 500px;
}

.curtain {
  width: 15%;  
  height: 100%;
  object-fit: cover;
}

.player {
  width: 70%;
  height: 100%;
  object-fit: cover;
}


.depth-container {
  width: 100%;
  height: 100px;
  padding: 15px;

  font-size: 30px;

  background-color: var(--accent2-color);

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1em;
}

.depth-counter {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;

  color: var(--accent1-color);

  margin: 0;
  padding: 0;
}

.depth-label {
  font-size: 30px;
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

.boiler-container, 
.oxygen-container {
  width: 250px;
  height: 150px;
  padding: 15px;
  
  background: var(--secondary-color);
  
  border: 3px solid var(--accent2-color);
  border-radius: 12px;
  color: var(--primary-color);
  font-family: var(--heading-font);
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: auto;
}

.travel-container {
  width: 250px;
  padding: 15px;
  height: 150px;
  
  background: var(--secondary-color);
  
  border: 3px solid var(--accent2-color);
  border-radius: 12px;
  color: var(--primary-color);
  font-family: var(--heading-font);
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  margin-left: auto;
}

.fuel-container {
  width: 250px;
  padding: 15px;
  height: 150px;
  
  background: var(--accent2-color);
  
  border: 3px solid var(--accent2-color);
  border-radius: 12px;
  color: var(--accent1-color);
  font-family: var(--heading-font);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: auto;
}

.stat-counter {
  display: flex;
  flex-flow: row nowrap;
  font-size: 20px
}

.boiler-container:hover,
.oxygen-container:hover,
.travel-container:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.05);
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: var(--primary-color);
}

.label {
  font-style: var(--heading-font);
  font-size: 20px;

  margin: 0;
  padding: 0;
}


/* -------------------------------------------------------------------------------- */
/* Win, lose and start screens */

.lore-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}


.lore-content {
    text-align: center;
}

.lore-screen button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2em;
    cursor: pointer;

    font-family: var(--heading-font);

    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 15px;
}


.lose-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}


.lose-content {
    text-align: center;
}

.lose-screen a {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;

    font-family: var(--heading-font);

    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 15px;
}

.lose-screen a:visited {
    color: var(--primary-color);
}

.win-screen a:visited {
    color: var(--primary-color);
}

.win-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}


.win-content {
    text-align: center;
}

.win-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2em;
    cursor: pointer;

    font-family: var(--heading-font);

    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 15px;
}





/* ===================================================== */

@media screen and (max-width: 1300px) {
  .hero-title {
    font-size: 50px;
    top: 40%;
  }

  .hero-text {
    font-size: 30px;
    top: 60%;
  }

  .rules {
    gap: 5px;
  }

  .hero-img {
    min-height: none;
    max-height: 300px;
  }

  .hero-title {
    top: 20%;
  }

  .hero-text {
    top: 30%;
  }

  .image-container {
    max-height: 400px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .tall-sub {
    display: none;
  }

  .button-container {
    flex-flow: column-reverse;
    justify-content: center;
  }

  .fuel-container,
  .boiler-container,
  .oxygen-container,
  .travel-container {
    margin: 0 auto;
    touch-action: none;
  }

  .image-container {
    display: none;
  }

  .hero-title {
    font-size: 30px;
    top: 25%;
  }

  .hero-text {
    font-size: 20px;
    top: 35%;
  }

  nav {
    height: 40px;
    font-size: 10px;
  }
}