@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
}

body {
    font-family: var(--secondary-font);
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

    background-color: antiquewhite;
}

img {
    max-width: 100%;
}

.title-img {
    max-width: 150px;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title {
    font-family: var(--secondary-font);
    align-content: end;
    font-size: 100px;
    margin: 0;
}

.search-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 20px auto;
    margin-top: 70px;
}

#searchbar {
    width: 80%;
    font-size: 20px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: antiquewhite;
}


.search-btn {
    width: 50px;
    height: 100%;
    
    border: solid black 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    box-sizing: border-box;

    background: none;
    margin: 0;
    padding: 0;
}

.sepbar {
    height: 3px;
    background-color: #333;

    width: 100%;

    margin-bottom: 50px;
    margin-top: 50px;
}

.recipe-container {
    border: solid #333 3px;
    border-radius: 5px;
    
    padding: 30px;
    margin: 20px;

    display: flex;
    flex-flow: column nowrap;
}

.recipe_tags {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

.recipe_tags li {
    color: #333;
    border: solid #333 2px;
    font-family: var(--primary-font);

    font-size: 30px;
    /* max-width: 100px; */

    margin-top: 10px;
    padding: 10px;

}

.recipe-title {
    color: var(--primary-color);
    font-size: 60px;

    margin: 0;
    text-align: left;
}

.star-element {
    font-size: 30px;
    text-align: left;
}

.description {
    display: none;
}

footer {
    display: flex;
    flex-flow: column-reverse;
    

    margin-top: 100px;
    margin-bottom: 50px;
}

.social {
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    gap: 20px;
}

.social img {
    width: 70px;
}

footer a {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 20px;

    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-color);
}


@media (min-width: 800px) {
    
    .recipe-container {
        padding: 30px;
        margin: 20px;

        display: flex;
        flex-flow: row nowrap;
    }
    


    .recipe-img {
        width: auto;
        max-height: 350px;
        margin-right: 20px;
    }

    .description {
        display: block;
        font-size: 20px;
        font-family: var(--primary-font);
        text-align: left;
    }

    footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



@media (min-width: 1200px) {
    
    body {
        max-width: 1200px;
    }
}
