body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 650px;
    margin: 0 auto;
}

.highlight {
    background-color: salmon;
}

header > h2 {
    font-size: 1em;
    margin-top: 0;
}

header > h1 {
    margin-bottom: 0;
}

header {
    background-color: aquamarine;
    padding: .5em;
}
